.footer_Div {
  height: 350px;
  width: 100%;
  margin-top: 50px;
  background-color: rgb(246, 246, 246);
}
.footerPDiv {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.footerPDiv > div {
  height: 250px;
  width: 15.5%;
}
.footerPDiv p {
  font-size: 13px;
}
.termsOfService {
  width: 55%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin-top: 50px;
  text-align: center;
  margin-left: -50px;
}
.termsOfService > p {
  font-size: 13px;
}
