* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#container>div {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container>div>img {
    width: 10%;
}

#container>div>p {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: green;
}

h3+p {
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: line-through;
    color: red;
}

button {
    padding: 5px;
    background-color: mintcream;
    border: 1px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: teal;
    color: white;
    cursor: pointer;
}

button+div {
    margin-left: 69%;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
    border: 1px solid transparent;
    width: 30%;
    text-align: right;
}
#toTal{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin: 10px;
    font-size: 25px;
}

button+div>a>button {
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin: 10px;
}

.Promo {
    margin: 10px;
    height: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 5px;
}

#promo {
    margin: 10px;
    background-color: crimson;
    color: white;
    margin-top: 50px;
}

#promo:hover {
    background-color: darkmagenta;
}

#heading {
    display: flex;
    width: 76%;
    margin-top: 30px;
    padding: 30px;
    margin-left: 10%;
    justify-content: space-between;
    font-size: 20px;
    color: crimson;
    font-family: sans-serif;
}

h4:nth-child(3) {
    margin-left: 5%;
    margin-right: 40px;
}

h4:nth-child(2) {
    margin-left: 10%;
}
.counter{
    height: 40px;
    width: 40px;
    font-size: 20px;
    font-weight: bolder;
}
h5{
    font-size: 25px;
    margin-left: -40px;
    margin-right: -40px;
}
.details{
    width: 75%;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.details>p:nth-child(2){
    margin-left: 120px;
}
.details>p:nth-child(3){
    margin-left: 100px;
}
.details>p:nth-child(4){
    margin-left: -10px;
    margin-right: 60px;
}
.details>p:last-child{
    margin-right: 40px;
}
.details>p{
    animation: myfunction 2s infinite;
}
@keyframes myfunction{
    from{
        color: gold;
    }
    to{
        color: palevioletred;
    }
}
#dropdown>div>a{
    text-decoration: none;
    color: black;
}